
#ViewOrderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    /* background-image: url("../img/background.png"); */
    background: linear-gradient(to bottom, rgb(25, 45, 41), #050505);
  }
  


  label {
    color: white;
  }
  
  
  h2 {
    color: white;
  }
  
  .listItem {
    margin: 20px;
    font-weight: 500;
  }
  
  .listItem > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .table {
    background-color: white;
    height: 100px;
    width: 200px;
  }
  
  #orderList:hover {
    background-color: #c87cfc;
    cursor: pointer;
  }
  
  .warehouseArea {
    display: flex;
    justify-content: center;
    margin-left: 11%;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    padding-left: 5%;
  }
  
  .tablesContainer {
    gap: 20px;
    display: flex;
  }
  
  .leftPanel {
    border: 1px solid #ccc;
    padding: 20px;
    height: auto;
    max-width: 175px;
  }
  .rightPanel {
    border: 1px solid #ccc;
    padding: 20px;
    height: auto;
    max-width: 300px;
  }
  
  .orderTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .orderTable th,
  .orderTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
    width: 200px;
  }
  
  .orderTable th {
    background-color: #f2f2f2;
  }
  
  .productname {
    justify-content: center;
    width: 100px;
    max-width: 100px;
  
  }
  
  .orderButton {
    display: inline-block;
    padding: 20px 20px;
    background-color: #4b6cb7;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .orderButton:hover {
    background-color: #314e80;
  }
  
  .option {
    margin-left: 20%;
  }