.warehouse-note-container {
  position: relative;
}

.warehouse-note-list {
  position: absolute;
  top: 10px;
  left: 1vw;
  right: 0;
  background-color: #0F1A2B;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 30vh;
  width: 250px;
  overflow: auto;
  transition: ease-in-out 0.3s;
}
.title {
  color: white;
  justify-content: left;
  flex: 1; /* Added to make the title take up all available space */
  
}
.addContainer {
  display: flex;
  align-items: center;
}

.warehouse-note-item {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 30px;
  
}

.warehouse-note-text {
  font-weight: bold;
  color: #333;
}

.warehouse-note-time {
  font-weight: bold;
  font-size: 12px;
  color: #878787;
}

.warehouse-note-timestamp {
  color: #888;
}

.noteHeader {
display: flex;
  color: #333;
  text-align: center;
  font-size: 12px;
  padding: 8px 0 0 12%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative; 
}

.notification
{
  list-style-type: none;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
justify-content: center;
  padding: 0px;
}
.addContainer .addButton {
  margin: auto 5px;
  height: 30px;
  width: 30px;
  padding: 2px;
  background-color: #0078a0c2; 

}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  
}

.ReactModal__Content {
  width: 30%;
  height: 40%;
  color: #0F1A2B;
  margin: auto;
  margin-top: 100px; 
}

.ReactModal__Content textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  overflow-y: auto;
  resize: none;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modalButtons button {
  flex: 1;
  margin-right: 5px;
}